@font-face {
    font-family: 'Asset Fallback';
    src: local('Arial');
    size-adjust: 105%;
    ascent-override: 95%;
    descent-override: 25%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Asset';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url('../dist/fonts/Asset-Regular.ttf') format('truetype');
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    transition: font-family 0.3s ease;
}

body.fonts-loaded {
    font-family: "Asset", serif;
}

.text {
    max-width: 700px;
}